.content {
    display: flex;
    justify-content: space-evenly;
    font-family: 'Lato';

}

.selectCursos select {
    height: 2rem;
    border-radius: 10px;
    width: 250px;

}

.contentHeader {
    color: #fff;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    font-size: 30px;
}

.contentHeaderBar {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffff;
    margin: 0px;
    font-size: 30px;
}

.contentHeaderBarTitle {
    width: 40%;
}

.contentHeaderBar div div button {
    width: 100px;
    height: 40px;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 20px;
}

.contentHeaderBar div div button:hover {
    opacity: 50%;
}

.grafico {
    height: 90%;
}

.a {
    width: 35%;
    height: 22rem;
    background-color: #d9d9d92e;
    border-radius: 15px;
}


.graficoDiv {
    height: 20rem;
    display: flex;
    align-items: center;
}

.graficoFundo {
    width: 100%;
    height: 20rem;
    display: flex;
}

.graficosCircularContent {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.Bar {
    display: flex;
    align-self: center;
}

.graficoBarContent {
    width: 100%;
    display: flex;
    justify-content: center;
}

.graficoBar {
    width: 80%;
    height: 30%;
    margin-top: 80px;
}